{% extends "default/index.html.jinja2" %}

{% set rootprefix = "../" * module.modulename.count(".") if module else "" %}

{% block title %}UiO exoplanet group{% endblock %}

{% block nav %}
    <a href="https://uio.decovar.dev/">
        <img src="{{ rootprefix }}./phab.jpg" class="logo" alt="UiO exoplanet group logo">
    </a>

    <input type="search" placeholder="Search" role="searchbox" aria-label="search"
        pattern=".+" required>

    <h2 style="margin-top:15px;">Modules</h2>
    <ul>
        <li><a href="./uio/utility.html">utility</a></li>
        <li><a href="./uio/tasks.html">tasks</a></li>
    </ul>

    <footer>
        <span>Package version: <a href='https://github.com/retifrav/uio-exoplanet-group/tree/{{ env["UIO_PACKAGE_VERSION"] | default("unknown") }}'>{{ env["UIO_PACKAGE_VERSION"] | default("unknown") }}</a></span><br>
        <span>Generated with <a href="https://pdoc.dev/">pdoc</a></span>
    </footer>
{% endblock %}

{% block content %}
    <main class="pdoc">

    {% filter to_html %}
# UiO exoplanet group

UiO exoplanet group tools for data processing. Created for [Centre for Earth Evolution and Dynamics](https://www.mn.uio.no/ceed/) and its successor [Center for Planetary Habitability](https://planetaryhabitability.org/).

<!-- MarkdownTOC -->

- [Source code](#source-code)
    - [Data](#data)
- [Installing](#installing)
    - [From sources](#from-sources)
    - [From PyPI](#from-pypi)

<!-- /MarkdownTOC -->

## Source code

The source code repository is [here](https://github.com/retifrav/uio-exoplanet-group).

### Data

Wherever you see a reference to some data files in documentation, examples, comments or anywhere else, for example some function taking a path like `./data/systems-528n.pkl`, check the [data](https://github.com/retifrav/uio-exoplanet-group/tree/master/data) folder - chances are, that file will be provided there.

## Installing

### From sources

``` sh
$ git clone git@github.com:retifrav/uio-exoplanet-group.git
$ cd ./uio-exoplanet-group
$ pip install ./
```

Add an `-e` argument, if you intend to modify the original sources.

You can also build a wheel and install/distribute that instead:

``` sh
$ cd /path/to/uio-exoplanet-group/
$ python -m build
$ pip install ./dist/uio_exoplanet_group-0.1.0-py3-none-any.whl
```

### From PyPI

Later the package will also be published at PyPI, so it could be installed with pip.
    {% endfilter %}

    </main>
    {% include "search.html.jinja2" %}
{% endblock %}
