{% extends "default/index.html.jinja2" %}

{% set rootprefix = "../" * module.modulename.count(".") if module else "" %}

{% block title %}UiO exoplanet group{% endblock %}

{% block nav %}
    <a href="https://uio.decovar.dev/">
        <img src="{{ rootprefix }}./phab.jpg" class="logo" alt="UiO exoplanet group logo">
    </a>

    <input type="search" placeholder="Search" role="searchbox" aria-label="search"
        pattern=".+" required>

    <h2 style="margin-top:15px;">Modules</h2>
    <ul>
        <li><a href="./uio/utility.html">utility</a></li>
        <li><a href="./uio/tasks.html">tasks</a></li>
    </ul>

    <footer>
        <span>Package version: <a href='https://github.com/retifrav/uio-exoplanet-group/tree/{{ env["UIO_PACKAGE_VERSION"] | default("unknown") }}'>{{ env["UIO_PACKAGE_VERSION"] | default("unknown") }}</a></span><br>
        <span>Generated with <a href="https://pdoc.dev/">pdoc</a></span>
    </footer>
{% endblock %}

{% block content %}
    <main class="pdoc">

    {% filter to_html %}
# UiO exoplanet group

UiO exoplanet group: data processing tools and knowledge base. Created for [Centre for Earth Evolution and Dynamics](https://mn.uio.no/ceed/) and its successor [Centre for Planetary Habitability](https://mn.uio.no/phab/english/).

- [Source code](#source-code)
- [Installing](#installing)
    - [From PyPI](#from-pypi)
    - [From sources](#from-sources)
- [Modules](#modules)
- [Data](#data)

## Source code

The package source code repository is [here](https://github.com/retifrav/uio-exoplanet-group).

## Installing

### From PyPI

``` sh
$ pip install uio-exoplanet-group
```

### From sources

``` sh
$ cd /path/to/uio-exoplanet-group/
$ pip install .
```

Add an `-e` argument, if you'd like to automatically update your locally installed package by pulling from the repository or/and if you intend to modify the sources:

``` sh
$ pip install -e .
```

## Modules

- `utility` - reusable/common utility modules;
- `tasks` - special module for performing particular tasks.

## Data

Wherever you see a reference to some data files in documentation, examples, comments or anywhere else, for example some function taking a path like `./data/systems-528n.pkl`, check the [data](https://github.com/retifrav/uio-exoplanet-group/tree/master/data) folder - chances are, that file will be provided there.
    {% endfilter %}

    </main>
    {% include "search.html.jinja2" %}
{% endblock %}
